#content {
    padding-top: 50px;
}

div.card.news {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar {
    transition: 0.5s;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background: grey;
    height: 30px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar > .navbar-items > a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
    transition: 0.2s;
}

.navbar > .navbar-items > a:hover {
    color: lightgrey;
}

.navbar > .navbar-items > a.active {
    border-bottom: 3px solid white;
}

.navbar > .navbar-right > a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
    transition: 0.2s;
}

.navbar > .navbar-right > a:hover {
    color: lightgrey;
}

.navbar > .navbar-right > button {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
    transition: 0.2s;
}

.navbar > .navbar-right > button:hover {
    color: lightgrey;
}

button {
    -webkit-appearance: none;
}

.navbar > .navbar-right > a.active {
    background-color: #27ae60;
}

body {
    margin: 0;
}

#page-content {
    padding: 50px;
}

html {
    box-sizing: border-box;
}

button {
    -webkit-appearance: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

hr {
    border-top: 0.5px solid lightgrey;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.center-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    height: 100%;
    border-radius: 3px;
    background: transparent;
}

.btn-green {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn-green:hover {
    background-color: #2ecc71;
    color: white;
}

.btn {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    height: 100%;
}

.btn-xl {
    padding: 15px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-group-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-group-tabs > .btn {
    width: 100%;
}

.btn-orange {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-orange:hover {
    background-color: #e67e22;
    color: white;
}

.btn-blue {
    border: 1px solid #3498db;
    color: #3498db;
}

.btn-blue:hover {
    background-color: #3498db;
    color: white;
}

.btn-red {
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.btn-red:hover {
    background-color: #e74c3c;
    color: white;
}

.alert {
    padding: 20px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.alert-blue {
    background-color: #3498db;
    color: white;
}

.alert-red {
    background-color: #e74c3c;
    color: white;
}

.alert-green {
    background-color: #2ecc71;
    color: white;
}

.card-body {
    padding: 10px;
    padding-bottom: 25px;
}

.card-body > small {
    color: white;
}

.card-title {
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
}

.card-title::after {
    color: white;
}

.card {
    display: block;
}

.card-market {
    background-color: #34495e;
    border-radius: 3px;
    margin: 20px;
}

.card-content > p {
    color: white;
    font-family: 'Montserrat';
    padding-bottom: 10px;
    white-space: pre-wrap;
}

.card-content > small {
    color: white;
    font-family: 'Montserrat';
}

.text-center {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.description {
    border: 1px solid lightgrey;
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 3px;
    white-space: pre-wrap;
}

input, textarea, select, button {
    width: 150px;
    margin: 0;

    -webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
    -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
    box-sizing: border-box;
}

input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin: 10px;
    width: 300px;
    height: 40px;
    transition: 0.4s;
}

.form {
    display: block;
    text-align: center;
}

button {
    -webkit-appearance: none;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 1px solid grey;
}

.table-full {
    width: 100%
}

table, tr, th {
    border: 1px solid lightgrey;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif
}

th {
    height: 50px;
}

td {
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.btn-block {
    display: block;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif
}

textarea {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin: 10px;
    width: 600px;
    height: 80px;
    transition: 0.1s;
}

textarea:focus {
    outline: none;
    border: 1px solid grey;
}

.form-group label {
    display: block;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 14px;
    padding-top: 5px;
}

.form-group input {
    margin-left: 0;
}

.form-group textarea {
    margin-left: 0;
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    line-height: 400px;
    white-space: nowrap;
}

.header > .title {
    margin: O;
    text-align: center;
    padding: 0;
    display: block;
}

.image {
    width: 48%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 300px;
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 20px;
    transition: 0.5s;
}

.image:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.image > h1 {
    text-align: center;
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dropbtn {
    background-color: transparent;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: lightgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

#footer > p {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    text-align: center;

}