{% extends "admin/adminTemplate.html" %}

{% block content %}
    <h1 class="title">Ajouter une image</h1>
    <hr>
    <div class="form">
        <form action="/admin/images/add" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label for="imageTitle">Titre de l'image</label>
    <input type="text" class="form-control" id="imageTitle" placeholder="Titre de l'image" name="imageTitle" required>
  </div>
            <div class="form-group">
                <label for="image">Fichier image incroyable:</label>
                <input type="file" name="image">
            </div>
    <div class="form-group">
        <button type="submit" class="btn btn-blue">Ajouter</button>
    </div>
    </form>
    </div>
{% endblock %}