{% extends "pageTemplate.html" %}
{% block content %}
    <h1 class="title">Site incroyable</h1>
   <!-- <form action="/shorten" method="post">
      <input type="text" name="url" required>
    <button class="btn btn-blue" type="submit">Raccourcir</button>
    </form> !-->
    <hr>
    <p class="description">DIGOURAYE</p>


    <h1 class="text-center">Actualités</h1>
    <hr>
    {% for article in news: %}
        <div class="card card-market">
            <div class="card-body">
                <h2 class="card-title">
                    {{ article[1] }}
                </h2>
                    <hr>
                    <div class="card-content">
                    <p>{{ article[2] }}</p>
                        <hr>
                        <small>écrit par {{ article[3] }}</small>
                    </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}