<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
                <div class="navbar">
            <div class="navbar-items">
                <a class="active" href="/">Accueil</a>

            </div>
                <div class="navbar-right">
                {% if user %}
                <a href="#">Profil</a>
                <a href="/logout"> Déconnexion</a>
                                {% if user[4] %}
                 <a href='/admin'>Administration</a>
            {% endif %}
                {% else %}
                                <a href="/login">Se connecter</a>
                <a href="/register"> Créer un compte</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</header>
<div id="page-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>