<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
        <title>{% block title %} {{ settings[1] }} {% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
                <div class="navbar">
            <div class="navbar-items">
                <a class="active" href="/">Accueil</a>
                <a class="" href="/images">Images</a>
            </div>
                <div class="navbar-right">
                {% if user %}
                                        <div class="dropdown">
  <a onclick="myFunction()" class="dropbtn">Mon compte ▼</a>
  <div id="myDropdown" class="dropdown-content">

                <a href="/logout"> Déconnexion</a>
                                {% if user[4] %}
                 <a href='/admin'>Administration</a>
            {% endif %}
  </div>
</div>
                {% else %}
                    <div class="dropdown">
  <a onclick="myFunction()" class="dropbtn">Connexion/Inscription ▼</a>
  <div id="myDropdown" class="dropdown-content">
    <a href="/login">Se connecter</a>
    <a href="/register">S'inscrire</a>
  </div>
</div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    <div class="header" style="background-image: url('/img/{{ settings[3] }}')">
<span class="title">{{ settings[1] }}</span>
    </div>
</header>

<div id="page-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
<script type="text/javascript">

    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</html>