{% extends "pageTemplate.html" %}


{% block content %}
    <form action="/register" method="post">

        <div class="form-group">
    <label for="usernameInput">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="usernameInput" name="username">
  </div>

  <div class="form-group">
    <label for="mailInput">Adresse mail</label>
    <input type="email" class="form-control" id="mailInput" name="mail">
  </div>

  <div class="form-group">
    <label for="passwordInput">Mot de passe</label>
    <input type="password" class="form-control" id="passwordInput" name="password">
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
{% endblock %}